.gameBoard{
    background-image: url("SnL1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: fit-content;
}

.row{
    display: flex;
}

div.row>div{
    width: 60px;
    height: 60px;
    display: flex;
}

body>div{
    display: flex;
    justify-content: center;
}
h1,h3,h5{
    text-align: center;
}
.player{
    width: 50%;
}
body{
    background-color: lightgray;
}
